.rake_test_cache

#Trim some cruft that builds up during chef runs
chef-repo/chef-stacktrace.out
chef-repo/*.bin
chef-repo/*.tar.*
chef-repo/*.tgz
docs/_build


chef-repo/Python-2.7.2/

#Ignore my eclipse project related files
.buildpath
.project
